div.cookie-msg {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 640px;
    background: #1f2f51;
    padding: 20px 70px 20px 30px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

div.cookie-msg {
    animation-duration: 1.4s;
}

div.cookie-msg:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

.cookie-msg.show {
    opacity: 1;
    visibility: visible;
}

.cookie-msg .cookie-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.cookie-msg .cookie-close:hover {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cookie-msg .cookie-close:after,
.cookie-msg .cookie-close:before {
    content: "";
    width: 24px;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 11px;
}

.cookie-msg .cookie-close:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.cookie-msg .cookie-content {
    color: #fff;
    font-size: 16px;
}

.cookie-msg .cookie-content a {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}

.cookie-msg .cookie-content a:hover {
    color: #fff;
    text-decoration: none;
    visibility: visible !important;
    font-size: 16px;
}

@media (max-width: 640px) {
    .cookie-msg {
        bottom: 0;
        right: 0;
    }

    .cookie-msg .cookie-content {
        color: #fff;
        font-size: 12px;
    }

    .cookie-msg .cookie-content a {
        font-size: 12px;
    }

    .cookie-msg .cookie-content a:hover {
        font-size: 12px;
    }
}
